<section class="home-page-options">
    <a class="prop-link" routerLink="/my-properties">
        <div class="properties">
            <p class="options">My properties</p>
            <span class="material-symbols-outlined">home_pin</span>
        </div>
    </a>
    <a class="comp-link" routerLink="/rent-comps">
        <div class="comparables">
            <p class="options">Rent Comps</p>
            <span class="material-symbols-outlined">pin_drop</span>
        </div>
    </a>
    <a class="add-link" routerLink="/add-property">
        <div class="add-new">
            <p class="options">Add Property</p>
            <span class="material-symbols-outlined">add_box</span>
        </div>
    </a>
    <a class="search-link" href="https://www.zillow.com/" target=”_blank”>
        <div class="search-new">
            <p class="options">Search New</p>
            <span class="material-symbols-outlined">search</span>
        </div>
    </a>
</section>

<!--login -->

<!-- <div class="user-login-container">
    <div class="user-info">
        <h3>User Login</h3>
        <label for="">Username:</label>
        <input class="username" type="text">

        <label for="">Password:</label>
        <input class="password" type="password">

        <a routerLink="/my-properties" routerLinkActive="active">Login</a>
    </div>
</div> -->
