.user-login-container {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 1fr;
    justify-content: center;
}

@media (max-width: 790px) {
    .user-login-container {
        grid-template-columns: auto;
    }
}

.user-info {
    background-color: white;
    border-radius: 4px;
    width: 100%;
    padding-bottom: 50px;
}

h3 {
    font-size: 30px;
    padding: 18px;
}

input,
label {
    display: block;
    margin: 14px;
    border-radius: 4px;
    font-size: 20px;
}

.password {
    margin-bottom: 30px;
}

a {
    background-color: hsl(197, 59%, 63%);
    text-decoration: none;
    margin-left: 14px;
    padding: 10px;
    border-radius: 4px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}
