<!-- <div class="search-results">

    <h3 class="result-address"> Address: 4107 E San Miguel</h3>
    <p class="correlation-score">Correlation Score: correlation</p>
    <p class="rent-amount">Rent Amount: $1000</p>
    <p class="distance">Distance from my property: .5 km</p>
    <p class="property-type">Property Type: Duplex-Triplex</p>
    <p class="square-feet">Unit Sqft: 900 sqft</p>
</div>
<div class="search-results">
    <h3 class="result-address"> Address: 4107 E San Miguel</h3>
    <p class="correlation-score">Correlation Score: correlation</p>
    <p class="rent-amount">Rent Amount: $1000</p>
    <p class="distance">Distance from my property: .5 km</p>
    <p class="property-type">Property Type: Duplex-Triplex</p>
    <p class="square-feet">Unit Sqft: 900 sqft</p>
</div>
<div class="search-results">
    <h3 class="result-address"> Address: 4107 E San Miguel</h3>
    <p class="correlation-score">Correlation Score: correlation</p>
    <p class="rent-amount">Rent Amount: $1000</p>
    <p class="distance">Distance from my property: .5 km</p>
    <p class="property-type">Property Type: Duplex-Triplex</p>
    <p class="square-feet">Unit Sqft: 900 sqft</p>
</div>
<div class="search-results">
    <h3 class="result-address"> Address: 4107 E San Miguel</h3>
    <p class="correlation-score">Correlation Score: correlation</p>
    <p class="rent-amount">Rent Amount: $1000</p>
    <p class="distance">Distance from my property: .5 km</p>
    <p class="property-type">Property Type: Duplex-Triplex</p>
    <p class="square-feet">Unit Sqft: 900 sqft</p>
</div> -->



<div class="search-results">
    <p>Address: {{address}}</p>
    <p>Correlation Score: {{correlation}}</p>
    <p>Rent Amount: ${{price}}</p>
    <p>Distance from my property: {{distance}}miles</p>
    <p>Property Type: {{propertyType}}</p>
    <p>Unit Sqft: {{squareFootage}} sqft</p>
</div>