<div class="property-details">

    <div class="property-info">
        <img class="property-image" src="{{image}}" alt="property" />
        <p class="address">{{address}}</p>
        <p class="status">{{status}}</p>
    </div>

    <div class="tenant-detail">
        <p class="tenant-info">Tenant Contact: <br>{{tenant1}} {{tenant1Contact}}</p>
        <p class="end-date">Lease end date: {{endDate}}</p>
        <p class="end-date">Lease end date: {{endDate}}</p>
        <p class="end-date">Lease end date: {{endDate}}</p>
    </div>
    <button class="delete-button">Delete Property</button>
</div>