.update-form {
    display: none;
}

.show {
    display: grid;
    grid-column: 1fr;
}

.hide-property {
    display: none;
}

input,
label,
select {
    display: block;
    margin: 20px;
    width: 300px;
    height: 24px;
    border-radius: 4px;
    font-size: 20px;
}

input[type=submit],
button {
    width: auto;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #6AB9D9;
    color: white;
    border: none;
    font-size: 18px;
}

button {
    width: 80px
}
