.properties-container {
    display: grid;
    grid-template-columns: 1fr;
}

img {
    padding-bottom: 20px;
    padding-left: 20px;
    width: 360px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

header {
    background-color: #032CA6;
    margin-bottom: 50px;
}