.large-logo {
    padding-bottom: 20px;
    padding-left: 20px;
    width: 360px;
}

@media (min-width: 790px) {
    .small-logo {
        display: none;
    }
}

@media (max-width: 790px) {
    header {
        display: flex;
        flex-direction: column;
    }
    .small-logo {
        padding: 10px;
        width: 50px;
        align-self: center;
    }
    .large-logo {
        display: none;
    }
}

header {
    background-color: #032CA6;
    margin-bottom: 50px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.footer-img {
    width: 50px;
    margin-top: 20px;
    align-self: center;
}

.powered {
    align-self: center;
    font-size: 10px;
}

@media (max-width: 790px) {
    .footer-img {
        width: 30px;
        margin-top: 10px;
        align-self: center;
    }
    .powered {
        align-self: center;
        font-size: 5px;
    }
}

footer {
    display: flex;
    justify-content: end;
    align-content: center;
    padding: 10px;
    background-color: #032CA6;
    color: white;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    /* Height of the footer*/
    height: 100px;
    margin-right: 20px;
}
