.property-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, 1fr, 1fr, 100px;
    margin-top: 40px;
    background-color: white;
}

.property-image {
    grid-column: 1/ span 2;
    justify-self: center;
    padding-top: 30px;
    margin-bottom: 50px;
}

p {
    margin: 10px;
    font-size: 18px;
}

h3 {
    font-size: 26px;
    margin-bottom: 20px
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

.property-info {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    margin-bottom: 30px;
    margin-left: 40px;
}

.tenant-info {
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
}

.update-form {
    display: none;
}

.back-container {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    margin-top: 18px;
}

.back-link {
    text-decoration: none;
    width: 100px;
    padding: 10px;
    background-color: #6AB9D9;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    text-align: center;
}

.back-link:link {
    color: white;
}

.back-link:visited {
    color: white;
}

.back-link:hover {
    background-color: #4563BF;
}

.action-buttons {
    grid-column: 1/ span 2;
    grid-row: 4/ span 1;
}

.edit,
.delete {
    text-decoration: none;
    width: 100px;
    padding: 10px;
    background-color: #6AB9D9;
    color: white;
    border: none;
    margin: 10px;
    font-size: 18px;
    border-radius: 4px;
}

.edit:link,
.delete:link {
    color: white;
}

.edit:visited,
.delete:visited {
    color: white;
}

.edit:hover,
.delete:hover {
    background-color: #4563BF;
}

.edit-form {
    display: none;
}

.show {
    display: grid;
    grid-column: 1 /span 2;
}

.hide-property {
    display: none;
}

.update-heading {
    font-size: 26px;
    margin-bottom: 20px;
    margin-left: 40px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-side {
    grid-column: 1 / span 1;
    margin-left: 30px;
}

.right-side {
    grid-column: 2 / span 1
}

input,
label,
select {
    display: block;
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
}

input,
select {
    margin-bottom: 20px;
    width: 300px;
}

label {
    font-weight: 600;
}

.update-button,
.cancel-button {
    width: 100px;
    padding: 10px;
    background-color: #6AB9D9;
    color: white;
    border: none;
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.update-button:link,
.cancel-button:link {
    color: white;
}

.update-button:visited,
.cancel-button:visited {
    color: white;
}

.update-button:hover,
.cancel-button:hover {
    background-color: #4563BF;
}