.nav-bar {
    display: flex;
    justify-content: center;
}

@media (max-width: 790px) {
    .nav-bar {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
}

.nav-links {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 24px;
}

@media (max-width: 790px) {
    .nav-links {
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 0;
    }
    li {
        padding: 5px;
    }
}

.nav-links:link {
    color: white;
}

.nav-links:visited {
    color: white;
}

.nav-links:hover {
    color: #6AB9D9;
}