.nav-bar {
    display: flex;
    justify-content: center;
}

@media (max-width: 790px) {
    .nav-bar {
        display: block;
        text-align: center;
    }
}

.nav-links {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 24px;
}

@media (max-width: 790px) {
    .nav-links {
        text-decoration: none;
        color: white;
        padding: 20px;
        font-size: 18px;
    }
}

.nav-links:link {
    color: white;
}


/* visited link */

.nav-links:visited {
    color: white;
}


/* mouse over link */

.nav-links:hover {
    color: #6AB9D9;
}


/* selected link */

.nav-links:active {
    color: yellow;
}
