ul {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 24px;
}

a:link {
    color: white;
}


/* visited link */

a:visited {
    color: white;
}


/* mouse over link */

a:hover {
    color: #6AB9D9;
}


/* selected link */

a:active {
    color: white;
}