input,
label,
select {
    display: block;
    border-radius: 4px;
    font-size: 20px;
}

label {
    margin-bottom: 5px;
}

input,
select {
    width: 400px;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 20px;
}

input[type=submit] {
    width: auto;
    padding: 20px 30px;
    padding-bottom: 40px;
    background-color: #6AB9D9;
    color: white;
    border: none;
    font-size: 18px;
}

.back-container {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    margin-top: 18px;
}

.back-link {
    background-color: #6AB9D9;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}

.back-link:link {
    color: white;
}

.back-link:visited {
    color: white;
}

.back-link:hover {
    background-color: #4563BF;
}
