input,
label,
select {
    display: block;
    margin: 20px;
    width: 300px;
    height: 24px;
    border-radius: 4px;
    font-size: 20px;
}

input[type=submit] {
    width: auto;
    padding: 20px 30px;
    padding-bottom: 40px;
    background-color: #6AB9D9;
    color: white;
    border: none;
    font-size: 18px;
}

.back-container {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    margin-top: 18px;
}

.back-link {
    background-color: #6AB9D9;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}

.back-link:link {
    color: white;
}


/* visited link */

.back-link:visited {
    color: white;
}


/* mouse over link */

.back-link:hover {
    background-color: #4563BF;
}


/* selected link */

.back-link:active {
    color: yellow;
}
