<h2>Add New Property</h2>
<div class="back-container">
    <a routerLink="/my-properties" class="back-link">Go back</a>
</div>
<form #addProperty="ngForm" (ngSubmit)="addPropertyInfo(addProperty.value)">
    <div class="address">
        <label class="address">Address</label>
        <input name="address" type="text" placeholder="e.g. 123 Some Road" ngModel />
    </div>
    <label>Property status</label>
    <select name="status" ng ngModel>
    <option value="Rented">Rented</option>
    <option value="Vacant">Vacant</option>
    <option value="Under-renovation">Under Renovation</option>
  </select>

    <label>Image Url</label>
    <input name="image" type="text" ngModel />

    <label>Lease End Date</label>
    <input name="endDate" type="date" ngModel />

    <label>Rent Amount</label>
    <input name="rentAmount" type="number" ngModel />

    <label>Tenant 1</label>
    <input name="tenant1" type="text" placeholder="e.g. John Doe" ngModel />

    <label>Contact Number</label>
    <input name="tenant1Contact" type="text" placeholder="e.g. 555-555-5555" ngModel />

    <label>Tenant 2</label>
    <input name="tenant2" type="text" placeholder="e.g. John Doe" ngModel />

    <label>Contact Number</label>
    <input name="tenant2Contact" type="text" placeholder="e.g. 555-555-5555" ngModel />

    <label>Emergency Contact 1</label>
    <input name="emergencyContact1" type="text" placeholder="e.g. John Doe" ngModel />

    <label>Emergency Contact Number</label>
    <input name="emergencNumber1" type="text" placeholder="e.g. 555-555-5555" ngModel />

    <label>Emergency Contact 2</label>
    <input name="emergencyContact2" type="text" placeholder="e.g. John Doe" ngModel />

    <label>Emergency Contact Number</label>
    <input name="emergencNumber2" type="text" placeholder="e.g. 555-555-5555" ngModel />

    <!-- <label for="lease-upload">Lease Upload</label>
    <input type="file" name="lease-upload" ngModel>

    <label for="app-upload">Application Upload</label>
    <input type="file" name="app-upload" ngModel> -->

    <input type="submit" value="Add">

</form>
