.properties-container {
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.button-container {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    margin-top: 18px;
}

.add-button {
    background-color: #6AB9D9;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}

@media (max-width: 790px) {
    .button-container {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .add-button {
        text-decoration: none;
        border-radius: 4px;
        font-size: 12px;
    }
}

.add-button:link {
    color: white;
}

.add-button:visited {
    color: white;
}

.add-button:hover {
    background-color: #4563BF;
}

.active {
    color: yellow;
}
