@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(200, 24%, 93%);
}

main {
    margin: 100px
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

@media (max-width: 790px) {
    h2 {
        font-size: 24px;
        text-align: center;
    }
    main {
        margin: 20px;
    }
}
