@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body {
    margin: 0 100px;
    font-family: 'Inter', sans-serif;
}

.properties-container {
    display: grid;
    grid-template-columns: 1fr;
}

.property-listing {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px groove hsla(0, 0%, 50%, .5);
    /* box-shadow: 2px 2px 2px 2px gray; */
}

.address {
    grid-column: 1 / span 1;
    grid-row: 1 /span 1;
    font-size: 24px;
}

.status {
    grid-column: 1 / span 1;
    grid-row: 2 /span 1;
}

.end-date {
    grid-column: 1 / span 1;
    grid-row: 3 /span 1;
}

.property-image {
    grid-column: 2 / span 1;
    grid-row: 1 /span 3;
    margin: 20px;
    width: 75%;
    justify-self: center;
}

label {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    align-items: end;
}

input {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    align-items: center;
}

h1 {
    padding: 28px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: 520;
}