.property-listing {
    background-color: white;
    margin-top: 40px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    grid-template-rows: 100px auto auto auto;
    box-shadow: 2px 2px 2px 2px hsla(225, 51%, 62%, 0.76);
    justify-content: flex-start;
    align-content: center;
    border-radius: 3px;
}

@media (max-width: 790px) {
    .property-listing {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
        box-shadow: 2px 2px 2px 2px hsla(225, 51%, 62%, 0.76);
    }
}

.property-listing:hover {
    animation: bounce 1s linear;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px)
    }
    40% {
        transform: translateY(0px)
    }
    60% {
        transform: translateY(-2px)
    }
    80% {
        transform: translateY(-0px)
    }
}

.property-image {
    grid-column: 2 / span 1;
    grid-row: 1 /span 3;
    margin: 20px;
    width: 75%;
    justify-self: center;
    border-radius: 3px;
}

.address {
    grid-column: 1 / span 1;
    grid-row: 1 /span 1;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
    text-decoration: none;
    display: flex;
    text-decoration: none;
}

.address:visited {
    color: black;
}

.status {
    grid-column: 1 / span 1;
    grid-row: 2 /span 1;
    padding-left: 40px;
    font-size: 18px;
}

.tenant-info {
    grid-column: 1 / span 1;
    grid-row: 3 /span 1;
    padding: 20px 40px;
    font-size: 18px;
    line-height: 30px;
}

.end-date {
    grid-column: 1 / span 1;
    grid-row: 4 /span 1;
    padding: 20px 40px;
    font-size: 18px;
}

@media (max-width: 790px) {
    .property-image {
        grid-column: 1 / span 1;
        grid-row: 1 /span 1;
        width: 60%;
        justify-self: center;
        border-radius: 3px;
    }
    .address {
        grid-column: 1 / span 1;
        grid-row: 2 /span 1;
        font-size: 18px;
        font-weight: 600;
    }
    .quick-details {
        grid-column: 1/ span 1;
        grid-row: 3 / span 1;
        margin-top: 50px;
    }
    .status {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .tenant-info {
        grid-column: 1 / span 1;
        grid-row: 4 /span 1;
        padding-left: 40px;
        font-size: 18px;
    }
    .end-date {
        grid-column: 1 / span 1;
        grid-row: 5 /span 1;
        font-size: 16px;
        padding: 20px 40px;
    }
}

.quick-details {
    grid-column: 1/ span 1;
    grid-row: 2 / span 3;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 30px;
}
